<aside id="sidebar" class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-links">
      <!-- Dashboard -->
      <li class="nav-item">
        <a href="home" class="" aria-controls="dashboard-submenu">
          <i class="fa-solid fa-grip"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>

      <!-- Licitações -->
      <li class="nav-item">
        <a href="licitacao" class="" aria-controls="licitacoes-submenu">
          <i class="fa-solid fa-gavel"></i>
          <span class="link-name">Licitações</span>
        </a>
      </li>

      <!-- Clientes -->
      <li class="nav-item">
        <a href="clientes" class="" aria-controls="clientes-submenu">
          <i class="fa-solid fa-person"></i>
          <span class="link-name">Clientes</span>
        </a>
      </li>

      <!-- Configurações-->

      <li class="nav-item">
        <a href="configuracao" class="" id="config" aria-controls="configuracoes-submenu">
          <i class="fa-solid fa-gear"></i>
          <span class="link-name">Configurações</span>
        </a>
      </li>
      
      <!-- Sair -->

      <li class="nav-item">
        <a href="#" id="sair-btn" aria-controls="sair-submenu"> 
        <i class="fa-solid fa-right-from-bracket"></i>
          <span class="link-name">Sair</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>


